<!DOCTYPE html> 
<html lang="en"> 
  <head> 
      <title> data-display-page </title> 
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>  
      <link rel = 'stylesheet' href = "/stylesheets/displayStyles.css">
      <style>
        
    </style>
    </head>

  </head> 

  <body>   
    <h2> Data Display</h2>
    <div class = "graph-container">
     <div id = "chart-1"> </div> 
     <div id = "chart-2"> </div> 
     <div id = "chart-3"> </div> 
     <div id = "chart-4"> </div> 
     <div id = "chart-5"> </div> 
     <div id = "chart-6"> </div>  
     <div class = "stats"> </div>
    </div>
    <img src="kirby.png">


    <div id = "back-button"> 
        <button type = "button" id = "goBack"> Return To Home </button>
    </div>

    <script type = "text/javascript">  
        document.getElementById("goBack").addEventListener('click', () => { 
          window.location = './';
        });
        google.charts.load('current', {'packages':['corechart']}); 
        
        function chart1() {
          google.charts.setOnLoadCallback(function() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Value');

            {{#each this.category1.valueArray}}
              data.addRows({{{this}}});
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category1.blobCategoryAndUnit}}}+"";

            var chart = new google.visualization.LineChart(document.getElementById('chart-1'));
            chart.draw(data, options);
          })
        };

        function chart2() {
          google.charts.setOnLoadCallback(function() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Value');

            {{#each this.category2.valueArray}}
              data.addRows({{{this}}});
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category2.blobCategoryAndUnit}}}+"";

            var chart = new google.visualization.LineChart(document.getElementById('chart-2'));
            chart.draw(data, options);
          })
        };
       
        function chart3() {  
          google.charts.setOnLoadCallback(function() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Value');

            {{#each this.category3.valueArray}}
              data.addRows({{{this}}});
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category3.blobCategoryAndUnit}}}+"";

            var chart = new google.visualization.LineChart(document.getElementById('chart-3'));
            chart.draw(data, options); 
          })
        }; 
       
        function chart4() { 
          google.charts.setOnLoadCallback(function() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Value');  

            {{#each this.category4.valueArray}}
              data.addRows({{{this}}});
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category4.blobCategoryAndUnit}}}+"";

            var chart = new google.visualization.LineChart(document.getElementById('chart-4'));
            chart.draw(data, options); 
          })
        };
       
        function chart5() { 
          google.charts.setOnLoadCallback(function() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Value');  

            {{#each this.category5.valueArray}}
              data.addRows({{{this}}});
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category5.blobCategoryAndUnit}}}+"";

            var chart = new google.visualization.LineChart(document.getElementById('chart-5'));
            chart.draw(data, options);  
          })
        }; 

        function chart6() { 
          google.charts.setOnLoadCallback(function() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'Value');  

            {{#each this.category6.valueArray}}
              data.addRows({{{this}}});
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category6.blobCategoryAndUnit}}}+ "";

            var chart = new google.visualization.LineChart(document.getElementById('chart-6'));
            chart.draw(data, options);
          })
        }; 

        if ({{{this.exists1}}}) chart1();
        if ({{{this.exists2}}}) chart2();
        if ({{{this.exists3}}}) chart3();
        if ({{{this.exists4}}}) chart4();
        if ({{{this.exists5}}}) chart5();
        if ({{{this.exists6}}}) chart6();
      </script> 
</body>
</html>