<!DOCTYPE html> 
<html lang="en"> 
  <head> 
      <title> data-display-page </title> 
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>  
      <link rel = 'stylesheet' href = "/stylesheets/displayStyles.css">
  </head> 

  <body>   
    <h2> Data Display</h2>
    <div class = "graph-container">
     <div id = "chart-1"> </div> 
     <div id = "chart-2"> </div> 
     <div id = "chart-3"> </div> 
     <div id = "chart-4"> </div> 
     <div id = "chart-5"> </div> 
     <div id = "chart-6"> </div>  
     <div class = "stats"> </div>
    </div> 
    <div id = "back-button"> 
        <button type = "button" id = "goBack"> Return To Home </button>
    </div>
    <script type = "text/javascript">  
        document.getElementById("goBack").addEventListener('click', () => { 
          window.location = './';
        });
        google.charts.load('current', {'packages':['corechart']});

        function chart1() {
          google.charts.setOnLoadCallback(function() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Date');
            data1.addColumn('number', 'Value'); 

            var data2 = new google.visualization.DataTable(); 
            data2.addColumn('string', 'Date');   
            data2.addColumn('number', 'Goal');
            var goal = {{{this.category1.goal}}}+0;
            {{#each this.category1.valueArray}}
              data1.addRows({{{this}}});
              data2.addRows([[{{{this}}}[0][0], goal]]);
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category1.blobCategoryAndUnit}}}+"";



            var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
            var chart = new google.visualization.LineChart(document.getElementById('chart-1'));
            chart.draw(joinedData, options);

          })
        };

        function chart2() {
          google.charts.setOnLoadCallback(function() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Date');
            data1.addColumn('number', 'Value'); 

            var data2 = new google.visualization.DataTable(); 
            data2.addColumn('string', 'Date');   
            data2.addColumn('number', 'Goal');
            var goal = {{{this.category2.goal}}}+0;
            {{#each this.category2.valueArray}}
              data1.addRows({{{this}}});
              data2.addRows([[{{{this}}}[0][0], goal]]);
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category2.blobCategoryAndUnit}}}+"";



            var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
            var chart = new google.visualization.LineChart(document.getElementById('chart-2'));
            chart.draw(joinedData, options);

          })
        };

        function chart3() {
          google.charts.setOnLoadCallback(function() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Date');
            data1.addColumn('number', 'Value'); 

            var data2 = new google.visualization.DataTable(); 
            data2.addColumn('string', 'Date');   
            data2.addColumn('number', 'Goal');
            var goal = {{{this.category3.goal}}}+0;
            {{#each this.category3.valueArray}}
              data1.addRows({{{this}}});
              data2.addRows([[{{{this}}}[0][0], goal]]);
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category3.blobCategoryAndUnit}}}+"";



            var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
            var chart = new google.visualization.LineChart(document.getElementById('chart-3'));
            chart.draw(joinedData, options);

          })
        };

        function chart4() {
          google.charts.setOnLoadCallback(function() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Date');
            data1.addColumn('number', 'Value'); 

            var data2 = new google.visualization.DataTable(); 
            data2.addColumn('string', 'Date');   
            data2.addColumn('number', 'Goal');
            var goal = {{{this.category4.goal}}}+0;
            {{#each this.category4.valueArray}}
              data1.addRows({{{this}}});
              data2.addRows([[{{{this}}}[0][0], goal]]);
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category4.blobCategoryAndUnit}}}+"";



            var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
            var chart = new google.visualization.LineChart(document.getElementById('chart-4'));
            chart.draw(joinedData, options);

          })
        };

        function chart5() {
          google.charts.setOnLoadCallback(function() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Date');
            data1.addColumn('number', 'Value'); 

            var data2 = new google.visualization.DataTable(); 
            data2.addColumn('string', 'Date');   
            data2.addColumn('number', 'Goal');
            var goal = {{{this.category5.goal}}}+0;
            {{#each this.category5.valueArray}}
              data1.addRows({{{this}}});
              data2.addRows([[{{{this}}}[0][0], goal]]);
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category5.blobCategoryAndUnit}}}+"";



            var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
            var chart = new google.visualization.LineChart(document.getElementById('chart-5'));
            chart.draw(joinedData, options);

          })
        };

        function chart6() {
          google.charts.setOnLoadCallback(function() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Date');
            data1.addColumn('number', 'Value'); 

            var data2 = new google.visualization.DataTable(); 
            data2.addColumn('string', 'Date');   
            data2.addColumn('number', 'Goal');
            var goal = {{{this.category6.goal}}}+0;
            {{#each this.category6.valueArray}}
              data1.addRows({{{this}}});
              data2.addRows([[{{{this}}}[0][0], goal]]);
            {{/each}}
            var options = {
              width: 400,
              height: 300, 
              hAxis: { slantedText:true, slantedTextAngle:45 }
            };
            options.title ={{{this.category6.blobCategoryAndUnit}}}+"";



            var joinedData = google.visualization.data.join(data1, data2, 'full', [[0, 0]], [1], [1]);
            var chart = new google.visualization.LineChart(document.getElementById('chart-6'));
            chart.draw(joinedData, options);

          })
        };

        if ({{{this.exists1}}}) chart1();
        if ({{{this.exists2}}}) chart2();
        if ({{{this.exists3}}}) chart3();
        if ({{{this.exists4}}}) chart4();
        if ({{{this.exists5}}}) chart5();
        if ({{{this.exists6}}}) chart6();
      </script> 
</body>
</html>